* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: blue;
  padding: 5px
}

h1 {
  text-align: center;
  color: #F64C72
}

div.info {
  background-color: #F64C72;
  padding-top: 5px
}

h2 {
  text-align: center;
  color: blue
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 50%;
  border: 2px solid blue;
}

div.image {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F64C72;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.h3 {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: blue;
}

h3, h5 {
  text-align: center;
  color: #F64C72;
}
